.dropdown {
  position: relative;
  display: inline-block;

  .dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
     p {
      margin-left: 8px ;
    }
  }

  .dropdownMenu {
    display: block;
    position: absolute;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    min-width: 160px;
    top: 40px;
    left: 0;
    z-index: 10;
  }

  .dropdownItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background: #f0f0f0;
    }
  }

  .flag {
    width: 20px;
    height: 14px;
  }
}
