@import "/public/css/variables.module.scss";
.wraperBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  .bannerImage {
    position: relative;
    width: 100%;
    max-width: 980px;
    margin: 20px auto;
    /* keeps a nice aspect ratio while allowing responsive scaling */
    aspect-ratio: 897/600;
  }
  .imageBanner {
    object-fit: contain;
    object-position: center center;
    /* Image uses fill, so it takes the size from the parent */
    margin: 0;
  }
  .bannerText {
    margin-top: 24px;
    line-height: 24px;
    font-weight: 400;
    font-size: 2rem;
    color: $primary;
    text-decoration: underline;
  }
}
@media (max-width: 1024px) {
  .wraperBanner {
    width: 100%;
    padding: 0 16px;

    .bannerText {
      margin-top: 0;
    }
  }
}
@media (max-width: 768px) {
  .wraperBanner {
    padding: 0 16px;

    .bannerText {
      margin-top: 0;
    }
  }
}
