@import "/public/css/variables.module.scss";

.homePage {
  width: 100%;
  background-color: $white;

  .loadingBanner {
    width: 100%;
    padding: 24px;
    background-color: $black_03;
  }
  .heroContainer {
    display: flex;
    width: 100%;
    margin-top: 95px;
  }

  .thumbnailContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .loaddingSection {
      width: 100%;
      margin: 16px 16px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  .reviewContainer {
    margin: 80px 0;
    padding: 24px;
    background-color: $pink_09;
    
  }
}
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .homePage {
    .thumbnailContainer {
      height: auto;
      flex-direction: column;
    }
    .reviewContainer {
      padding: 12px 0;
      h2 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}
