@import "/public/css/variables.module.scss";

.container {
  width: 100%;
  height: auto;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  .loadingBanner {
    width: 100%;
    padding: 24px;
    background-color: $black_03;
  }
  .loading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
  }
  .accordionContainer {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid $black_03;
    width: 100%;
    .accordionHeader {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 16px;
      transition: background-color 0.2s ease-in-out;
      border: none;
      background: none;
      .title {
        font-size: 16px;
        line-height: 1.25rem;
        font-weight: 600;
        color: $black_17;
      }
      .iconChevron {
        width: 2rem;
        height: 1.5rem;
        color: $black_17;
        transition: all 0.3s ease-in-out;
      }
      .open {
        transform: rotate(90deg);
      }
    }
    .accordionChildren {
      width: 100%;
      padding: 16px;
      transition: background-color 0.2s ease-in-out;
      border: none;
      background: none;
    }
    .accordionBody {
      border: 0.5px solid $black_04;
      .textBody {
        padding: 1rem;
        font-size: 16px;
        line-height: 1.8rem;
        color: $black_12;
      }
      .submenu {
        padding-left: 1rem;
      }
    }
  }
}
