@import "/public/css/variables.module.scss";

.footer {
  background: #393939;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  .container {
    width: 100%;
    display: flex;
    justify-content: stretch;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    .footerInfo {
      .footerTitle {
        font-size: 1em;
        font-weight: bold;
        color: $white;
      }
      .footerLine {
        width: 50px;
        height: 2px;
        background: $black_04;
        margin-bottom: 10px;
      }
      p {
        max-width: max-content;
        color: $white;
      }
    }
    .footerSocial {
      .wraperLogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logoFooter {
          width: 300px;
          height: 85px;
          aspect-ratio: 842/595;
          object-fit: contain;
        }
        .listSocial {
          display: flex;
          gap: 10px;
          margin-top: 20px;
          .icon {
            width: 40px;
            height: 40px;
            aspect-ratio: 1/1;
            object-fit: cover;
            background-color: $white;
            border-radius: 50%;
            padding: 6px;
          }
        }
      }
    }
  }
  .bottomFooter {
    width: 100%;
    background-color: #393939;
    padding: 20px;
    border-top: 1px solid $black_04;
    .policies {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 24px 0;
      a {
        color: $white;
        &::after {
          content: "|";
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 15px 30px;
    p {
      max-width: 100% !important;
    }
    .footerSocial {
      margin: 20px auto;
    }
  }
  .bottomFooter {
    .policies {
      display: flex !important;
      flex-wrap: wrap;
      align-items: center;
      justify-content: unset !important;
      a {
        font-size: 12px;
      }
    }
  }
}
