.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-primary);
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 100%;
  }
}

